body{
	font-family: Tanohe Sans;
}

header {
	height:3em; width:100%;
	display: flex; 
	flex-direction:row;
	border-bottom: 2px solid lightgray;
	//box-shadow: 5px 10px 8px 5px #888888;
		justify-content: center;	
	align-items: center;
}

header a{
	color: gray;
}


#header-leiste {
	display: flex;
	justify-content: center;
	align-items: center;
	width:55%;
	height: 3em;
	color: grey;
	padding-left: 10%;
	margin-right: 10%;
	
}

#header-leiste div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: gray;
}

#header-leiste2 {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 20%;
	height: 3em;
	padding-right: 10%;
	margin-left: 10%;
}

#header-leiste2 div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

h1 {
	text-align: center;
}

#start-bildergalerie{
	//display:flex;
	//justify-content:center;
	//align-items: center;
	width: 100%;
	//background-image: url("");
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	margin-left: 10%;
}

/* //Background Image
#banner {
  height: 46rem;
  background-image: url('camel-background.png');
  background-position: center;
 background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}*/
#bild1 {
	width:80%;
	height: 20em;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 10%;
	flex-wrap: wrap;
	
}

.box{
	display: flex;
	flex-direction: column;
	border: 2px solid grey;
	width: 30%;
	height: 25em; 
	margin:1%;
	position: relative;
	
}

.box p {
	//position: absolute;
}

figure{
	display: flex;
	justify-content: center;
	height: 60%;
}

.boxTextbereich {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.linkUnterseite {color: gray;}
.textUeberschrift {}
.datum {
	color: grey;
	//kursiv
}

.boxText {
	margin: 1em;
}