block itemEditor
    .container
        .row
            .col-md-6.col-md-offset-3.well
                .row
                    .col-md-10
                        select#selectAvailableItems.form-control(data-bind = "options: itemsList, optionsText: 'name', optionsValue: $data, value: selectedItem")
                    .col-md-2
                        a.btn.bg-primary(data-bind = "click: loadSelectedItem, css: {disabled: selectedItem().type == undefined}")
                            span.glyphicon.glyphicon-floppy-open
                form#itemEditorForm.form-horizontal
                    fieldset
                        legend Item Editor
                        .container-fluid
                            .row
                                .col-md-3
                                    a.thumbnail(href = "#")
                                        image.merpg-fill(src="/images/person-placeholder.jpg")
                                    .form-group
                                        label.col-md-2.control-label Typ
                                        .col-md-10
                                            .radio
                                                label
                                                    input#radioEquipment(type='radio', name='itemTypeRadios', value='equipment', data-bind = "checked: type")
                                                    | Ausrüstung
                                            .radio
                                                label
                                                    input#radioWeapon(type='radio', name='itemTypeRadios', value='weapon', data-bind = "checked: type")
                                                    | Waffe
                                            .radio
                                                label
                                                    input#radioShield(type='radio', name='itemTypeRadios', value='shield', data-bind = "checked: type")
                                                    | Schild
                                            .radio
                                                label
                                                    input#radioArmor(type='radio', name='itemTypeRadios', value='armor', data-bind = "checked: type")
                                                    | Rüstung
                                .col-md-9
                                    .form-group
                                        input#inputItemName.form-control(type='text', placeholder='Gegenstandsname', data-bind = "value: name, valueUpdate: 'afterkeydown'")
                                    .form-group
                                        .input-group
                                            input#inputPrice.form-control.text-right(type='number', placeholder='Preis', min="1", data-bind = "value: price")
                                            span.input-group-addon ZS
                                    .form-group
                                        .input-group
                                            input#inputWeight.form-control.text-right(type='text', placeholder='Gewicht', data-bind = "value: weight")
                                            span.input-group-addon kg

                                     .form-group
                                        textarea#taMonsterDescription.form-control(rows='3', data-bind = "value: description") Itembeschreibung
                        #weaponOnly(data-bind = "visible: type() == 'weapon'")
                            .container-fluid
                                .row
                                    .col-md-12
                                        .radio-inline
                                            label
                                                input#radioEquipment(type='radio', name='weaponType', value='melee', data-bind = "checked: weaponType")
                                                | Nahkampf
                                        .radio-inline
                                            label
                                                input#radioWeapon(type='radio', name='weaponType', value='ranged', data-bind = "checked: weaponType")
                                                | Fernkampf
                                        .radio-inline
                                            label
                                                input#radioShield(type='radio', name='weaponType', value='both', data-bind = "checked: weaponType")
                                                | Nah- und Fernkampf
                                .row
                                    .col-lg-6.merpg-noPadding(data-bind = "visible: weaponType() != 'melee'")
                                        .form-group
                                            label.col-md-6.control-label(for='inputRange')
                                                span Reichweite
                                            .col-md-6
                                                .input-group
                                                    input#inputRange.form-control.text-right(type='number', placeholder='Reichweite', min = "1", data-bind = "value: range")
                                                    span.input-group-addon m
                                    .merpg-noPadding(data-bind = "css: {'col-lg-6': weaponType() != 'melee', 'col-lg-12': weaponType() == 'melee'}")
                                        .form-group
                                            label.control-label(for='inputRange', data-bind = "css: {'col-md-6': weaponType() != 'melee', 'col-md-3': weaponType() == 'melee'}")
                                                p Patzer
                                            div(data-bind = "css: {'col-md-6': weaponType() != 'melee', 'col-md-9': weaponType() == 'melee'}")
                                                .input-group
                                                    input#inputFumbleRange.form-control.text-right(type='number', placeholder='Patzer', min = "1", data-bind = "value: fumbleRange")
                                                    span.input-group-addon %
                                .row
                                    .col-lg-12.merpg-noPadding
                                        .form-group
                                            label.col-md-4.control-label(for='inputOBSL') Keine Rüstung
                                            .col-md-8
                                                .input-group
                                                    input#inputOBNone.form-control.text-right(type='number', placeholder='OB vs. Keine Rüstung', min="0", data-bind = "value: OBNone")
                                                    span.input-group-addon OB
                                .row
                                    .col-lg-6.merpg-noPadding
                                        .form-group
                                            label.col-md-4.control-label(for='inputOBSL') Leichtes Leder
                                            .col-md-8
                                                .input-group
                                                    input#inputOBSL.form-control.text-right(type='number', placeholder='OB vs. Leichtes Leder', min="0", data-bind = "value: OBSL")
                                                    span.input-group-addon OB
                                    .col-lg-6.merpg-noPadding
                                        .form-group
                                            label.col-md-4.control-label(for='inputOBRL') verst. Leder
                                            .col-md-8
                                                .input-group
                                                    input#inputOBRL.form-control.text-right(type='number', placeholder='OB vs. Verst. Leder', min="0", data-bind = "value: OBRL")
                                                    span.input-group-addon OB
                                .row
                                    .col-lg-6.merpg-noPadding
                                        .form-group
                                            label.col-md-4.control-label(for='inputOBChain') Kette
                                            .col-md-8
                                                .input-group
                                                    input#inputOBChain.form-control.text-right(type='number', placeholder='OB vs. Kette', min="0", data-bind = "value: OBChain")
                                                    span.input-group-addon OB
                                    .col-lg-6.merpg-noPadding
                                        .form-group
                                            label.col-md-4.control-label(for='inputOBPlate') Platte
                                            .col-md-8
                                                .input-group
                                                    input#inputOBPlate.form-control.text-right(type='number', placeholder='OB vs. Platte', min="0", data-bind = "value: OBPlate")
                                                    span.input-group-addon OB
                            .form-group
                                label.col-md-3.control-label(for='selectDamageType') Schadensart
                                .col-md-9
                                    select#selectDamageType.form-control(data-bind = "options: damageTablesList, optionsText: 'displayName', optionsValue: 'name', value: attackType, attr: {'disabled': weaponType() == 'ranged'}")
                            .form-group
                                label.col-md-3.control-label(for='selectPrimaryCritical') Primär Krit
                                .col-md-6
                                    select#selectPrimaryCritical.form-control(data-bind = "options: criticalTablesList, optionsText: 'displayName', optionsValue: 'name', value: primaryCriticalType")
                                .col-md-3
                                    select#selectPrimaryCriticalMax.form-control(data-bind = "value: primaryCriticalMax")
                                        option T
                                        option A
                                        option B
                                        option C
                                        option D
                                        option E
                            .form-group
                                label.col-md-3.control-label(for='selectSecondaryCritical') Sekundär Krit
                                    input#checkboxSecondaryCritical.merpg-label-margin(type='checkbox', data-bind = "checked: secondaryCritical")
                                .col-md-6(data-bind = "visible: secondaryCritical")
                                    select#selectSecondaryCritical.form-control(data-bind = "options: criticalTablesList, optionsText: 'displayName', optionsValue: 'name', value: secondaryCriticalType")
                                .col-md-3(data-bind = "visible: secondaryCritical")
                                    select#selectSecondaryCriticalMax.form-control(data-bind = "value: secondaryCriticalMax")
                                        option T
                                        option A
                                        option B
                                        option C
                                        option D
                                        option E
                        #shieldOnly(data-bind = "visible: type() == 'shield'")
                            .form-group
                                label.col-md-3.control-label(for='inputShieldDB') Defensiv Bonus
                                .col-md-9
                                    .input-group
                                        input#inputShieldDB.form-control.text-right(type='number', placeholder='DB', min="1", data-bind = "value: DBBonus")
                                        span.input-group-addon DB
                        #armorOnly(data-bind = "visible: type() == 'armor'")
                            .form-group
                                label.col-lg-2.control-label(for='selectArmor') Rüstungstyp
                                .col-lg-10
                                    select#selectArmor.form-control(data-bind = "value: armorType")
                                        option(value = "none") Keine
                                        option(value = "softLeather") Leichtes Leder
                                        option(value = "rigidLeather") verstärktes Leder
                                        option(value = "chain") Kette
                                        option(value = "plate") Platte
                            .form-group
                                label.col-md-2.control-label Extra Teile
                                .col-md-10
                                    .checkbox-inline
                                        label
                                            input#checkboxHelmet(type='checkbox', data-bind = "checked: helmet")
                                            | Helm
                                    .checkbox-inline
                                        label
                                            input#checkBoxArmGreaves(type='checkbox', data-bind = "checked: armGreaves")
                                            | Armschienen
                                    .checkbox-inline
                                        label
                                            input#checkBoxLegGreaves(type='checkbox', data-bind = "checked: legGreaves")
                                            | Beinschienen
                        .form-group
                            .col-lg-12
                                button#buttonDelete.btn.btn-danger.pull-right(data-bind = "click: deleteLoadedItem, visible: loadedItem")
                                    span.glyphicon.glyphicon-floppy-remove
                                button#buttonSubmit.btn.btn-success.pull-right(data-bind = "click: saveItem")
                                    span.glyphicon.glyphicon-floppy-save
                                button#buttonCancel.btn.btn-info.pull-right(data-bind = "click: reset")
                                    span.glyphicon.glyphicon-file
