doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/slider.css')
        link(rel='stylesheet', href='/css/merpg.css')

        script(src="/js/jquery-1.11.1.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/bootstrap-slider.js")
        script(src="/js/knockout-3.1.0.js")
    body
        .merpg-pad-top
            include mainMenu
        .merpg-pad-top
            include monsterEditor
        .merpg-pad-top
            include itemEditor
        include battleInterface/battleUI
        //TODO fluid on battleUI
        .container
            ul.pager
                li.previous.pull-left
                    button.btn.btn-danger.btn-lg
                        span.glyphicon.glyphicon-backward
                li.next.pull-right
                    button.btn.btn-success.btn-lg
                        span.glyphicon.glyphicon-forward
