doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/merpg.css')

        script(src="/js/bootstrap.min.js")
        script(src="/js/jquery-1.11.1.min.js")
        script(src="/js/knockout-3.1.0.js")
    body.merpg-pad-top
        //include mainMenu
        include monsterEditor
        .container
            ul.pager
                li.previous
                    button.btn.btn-danger
                        span.glyphicon.glyphicon-backward
                li.next
                    button.btn.btn-success
                        span.glyphicon.glyphicon-forward
