doctype html

html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/merpg.css')
    body

        .merpg-pad-top#mainMenu
            include ./mainMenu
        .merpg-pad-top#monsterEditor
            include ./monsterEditor
        .merpg-pad-top#itemEditor
            include ./itemEditor
        include ./battleInterface/battleUI
        include ./battleLog/battleLog
        .container#pager
            ul.pager
                li.previous.pull-left
                    a#buttonBackward.btn.btn-danger.btn-lg
                        span.glyphicon.glyphicon-backward

    script(src="/js/frameworks/jquery-1.11.1.min.js")
    script(src="/js/frameworks/bootstrap.min.js")
    script(src="/js/frameworks/knockout-3.1.0.js")
    script(src="/js/deepCopy.js")
    script(src="/js/helper.js")
    script(src="/js/classDefinitions/tables.js")
    script(src="/js/classDefinitions/items.js")
    script(src="/js/classDefinitions/monsters.js")
    script(src="/js/classDefinitions/attacks.js")
    script(src="/js/navigation.js")
    script(src="/js/dataLoader.js")
    script(src="/js/init.js")
    script(src="/js/knockout/itemEditor.js")
    script(src="/js/knockout/monsterEditor.js")
    script(src="/js/knockout/battleUI.js")
    script(src="/js/knockout/battleLog.js")
