block mainMenu
    .container.merpg-strong-pad-top
        .row
            .col-md-6.col-md-offset-3.text-center
                button.btn.btn-primary.btn-block Kampfinterface
        .row
            .col-md-6.col-md-offset-3.text-center
                button.btn.btn-primary.btn-block Monster-Editor
        .row
            .col-md-6.col-md-offset-3.text-center
                button.btn.btn-primary.btn-block Item-Editor
        .row
            .col-md-6.col-md-offset-3.text-center
                button.btn.btn-primary.btn-block.disabled Charakter-Setup
        .row
            .col-md-6.col-md-offset-3.text-center
                button.btn.btn-primary.btn-block.disabled Charakter-Verwaltung

