block mainMenu
    .container.merpg-strong-pad-top
        .row
            .col-md-6.col-md-offset-3.text-center
                a.btn.btn-primary.btn-block(href="/html/Prolog.html") Charakter-Setup
        if (!loginStatus)
            .row
                .col-md-6.col-md-offset-3.text-center
                    a#buttonLogin.btn.btn-success.btn-block(href = "/login/google") Login mit Google
        else
            .row
                .col-md-6.col-md-offset-3.text-center
                    a#buttonLogout.btn.btn-danger.btn-block(href = "/logout") Logout
            .row
                .col-md-6.col-md-offset-3.text-center.visible-lg
                    a#buttonBattleUI.btn.btn-primary.btn-block Kampfsimulator
            .row
                .col-md-6.col-md-offset-3.text-center
                    a#buttonBattleLog.btn.btn-primary.btn-block BattleLog
            .row
                .col-md-6.col-md-offset-3.text-center
                    a#buttonMonsterEditor.btn.btn-primary.btn-block Monster-Editor
            .row
                .col-md-6.col-md-offset-3.text-center
                    a#buttonItemEditor.btn.btn-primary.btn-block Item-Editor
            .row
                .col-md-6.col-md-offset-3.text-center
                    a.btn.btn-primary.btn-block.disabled Charakter-Verwaltung


