//
   Created by Denny on 29.07.2014.

mixin monsterEditor(modal)
    if (modal)
        .container-fluid
            .row
                .col-md-8.col-md-offset-2
                    +form(modal)
    else
        .container
            .row
                .col-md-6.col-md-offset-3.well
                    +form(modal)
mixin form(modal)
    .row
        .col-md-10
            select#selectAvailableMonsters.form-control(data-bind = "options: monstersList, optionsText: 'name', value: selectedMonster")
        .col-md-2
            a.btn.bg-primary(data-bind = "click: loadSelectedMonster, css: {disabled: monstersList().length == 0}")
                span.glyphicon.glyphicon-floppy-open
    form#monsterEditorForm.form-horizontal
        fieldset
            legend Monster Editor
            .container-fluid
                .row
                    .col-md-3
                        a.thumbnail(href = "#")
                            image.merpg-fill(src="/images/person-placeholder.jpg")
                    .col-md-9
                        .container-fluid
                            .row.form-group
                                .col-md-6
                                    input#inputMonstername.form-control(type='text', placeholder='Monstername', data-bind = "value: name, valueUpdate: 'afterkeydown'")
                                .col-md-6
                                    input#inputLevel.form-control(type='number', placeholder='Level', min="1", max="60", data-bind = "value: level")
                            .row.form-group
                                .col-md-12
                                    textarea#taMonsterDescription.form-control(rows='3', data-bind = "value: description") Monsterbeschreibung
            .form-group
                label.col-md-2.control-label Größe
                .col-md-10
                    .radio-inline
                        label
                            input#radioTiny(type='radio', name='sizeRadios', value='tiny', data-bind = "checked: size")
                            | Winzig
                    .radio-inline
                        label
                            input#radioSmall(type='radio', name='sizeRadios', value='small', data-bind = "checked: size")
                            | Klein
                    .radio-inline
                        label
                            input#radioRegular(type='radio', name='sizeRadios', value='normal', data-bind = "checked: size")
                            | Normal
                    .radio-inline
                        label
                            input#radioLarge(type='radio', name='sizeRadios', value='large', data-bind = "checked: size")
                            | Groß
                    .radio-inline
                        label
                            input#radioHuge(type='radio', name='sizeRadios', value='huge', data-bind = "checked: size")
                            | Riesig
            .form-group
                label.col-lg-3.control-label(for='selectWeapon') Waffe
                .col-lg-9
                    select#selectWeapon.form-control(data-bind = "options: weaponsList, optionsText: 'name', optionsValue: 'name', value: weapon")
            .form-group
                label.col-md-3.control-label(for='selectShield') Schild
                    input#checkboxShield.merpg-label-margin(type='checkbox', data-bind = "checked: hasShield")
                .col-lg-9
                    select#selectShield.form-control(data-bind = "options: shieldsList, optionsText: 'name', optionsValue: 'name', visible: hasShield, value: shield")
            .form-group
                label.col-md-3.control-label(for='selectArmor') Rüstung
                    input#checkboxArmor.merpg-label-margin(type='checkbox', data-bind = "checked: hasArmor")
                .col-lg-9
                    select#selectArmor.form-control(data-bind = "options: armorsList, optionsText: 'name', optionsValue: 'name', visible: hasArmor, value: armor")
            .form-group
                label.col-md-2.control-label Extras
                .col-md-10
                    .checkbox-inline
                        label
                            input#checkboxHelmet(type='checkbox', data-bind = "checked: helmet, disable: nativeHelmet")
                            | Helm
                    .checkbox-inline
                        label
                            input#checkBoxArmGreaves(type='checkbox', data-bind = "checked: armGreaves, disable: nativeArmGreaves")
                            | Armschienen
                    .checkbox-inline
                        label
                            input#checkBoxLegGreaves(type='checkbox', data-bind = "checked: legGreaves, disable: nativeLegGreaves")
                            | Beinschienen
                    br
                    .checkbox-inline
                        label
                            input#checkboxBloodImmun(type='checkbox', data-bind = "checked: bloodImmun")
                            | nicht von Blutungen betroffen
                    .checkbox-inline
                        label
                            input#checkboxStunImmun(type='checkbox', data-bind = "checked: stunImmun")
                            | nicht von Benommenheit betroffen

            .container-fluid
                .row
                    .col-md-6
                        .form-group
                            label.col-md-2.control-label(for='inputHits') Treffer
                            .col-md-10
                                input#inputHits.form-control.input-sm(type='number', placeholder='Treffer', min="1", max="450", data-bind = "value: hits, valueUpdate: 'afterkeydown'")
                        .form-group
                            label.col-md-2.control-label(for='inputOB') OB
                            .col-md-10
                                input#inputOB.form-control.input-sm(type='number', placeholder='OB', min="0", max="240", data-bind = "value: OB, valueUpdate: 'afterkeydown'")
                        .form-group
                            label.col-md-2.control-label(for='inputDB') DB
                            .col-md-10
                                input#inputDB.form-control.input-sm(type='number', placeholder='DB', min="0", max="75", data-bind = "value: DB, valueUpdate: 'afterkeydown'")
                        .form-group
                            label.col-md-2.control-label(for='inputMM') BM
                            .col-md-10
                                input#inputMM.form-control.input-sm(type='number', placeholder='BM', min="-85", max="50", data-bind = "value: MM, valueUpdate: 'afterkeydown'")
                    .col-md-6
                        .progress.progress-striped.active.merpg-bar-align
                            #progressCompareHits.progress-bar.progress-bar-danger(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': maxHits}, style: {width: compareHits}")
                        .progress.progress-striped.active.merpg-bar-align
                            #progressCompareOB.progress-bar.progress-bar-warning(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': maxOB}, style: {width: compareOB}")
                        .progress.progress-striped.active.merpg-bar-align
                            #progressCompareDB.progress-bar.progress-bar-success(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': maxDB}, style: {width: compareDB}")
                        .progress.progress-striped.active.merpg-bar-align
                            #progressCompareHitsMM.progress-bar.progress-bar-info(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': maxMM}, style: {width: compareMM}")
            unless modal
                .form-group
                    .col-lg-12
                        button#buttonDelete.btn.btn-danger.pull-right(data-bind = "click: deleteLoadedMonster, visible: loadedMonster")
                            span.glyphicon.glyphicon-floppy-remove
                        button#buttonSubmit.btn.btn-success.pull-right(data-bind = "click: saveMonster")
                            span.glyphicon.glyphicon-floppy-save
                        button#buttonCancel.btn.btn-info.pull-right(data-bind = "click: reset")
                            span.glyphicon.glyphicon-file


