.navbar-fixed-bottom {
    padding-right: 25%;
    padding-left: 25%;
}

.merpg-pad-top {
    padding-top: 5%;
}

.merpg-pad-mini-top {
    padding-top: 1%;
}

.merpg-strong-pad-top {
    padding-top: 15%;
}

.merpg-fill {
    width: 100%;
    height: 100%;
}

.merpg-bar-align {
    height: 31px;
    margin-bottom: 15px;
}

.well * .input-group-addon {
    background-color: darkgray;
}

.merpg-well {
    position: relative;
    padding: 0 5px 5px 5px;
    margin-left: 20px;
    background-color: #4e5d6c;
    border: 1px solid grey;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.49) !important;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.49) !important;
    width: 225px;
    display: inline-block;
    white-space: normal;
}

.merpg-editPencil {
    cursor: pointer;
    color: #e0e0e0;
    display: block;

}

.merpg-battleLog {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.49) !important;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.49) !important;
    padding-top: 2px;
    padding-bottom: 2px;
}

.merpg-battleLog * .table {
    margin-bottom: 0 !important;
    font-size: 10px !important;
}

.merpg-img-mini {
    width: 25px;
    height: 25px;
}

.merpg-battleUI-well {
    width: 400px;
}

.merpg-attackResult-well {
    width: 100%;
}

.merpg-tableInput {
    max-width: 40px;
    text-align: right;
}

.merpg-noPadding {
    padding: 0 0 0 0;
}

.merpg-label-margin {
    margin-left: 5px !important;
}