//
   Created by Denny on 29.07.2014.

block battleLog
    .container-fluid.jumbotron
        .row
            .col-md-2.merpg-well
                .container-fluid
                    .row
                        .col-md-4
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-md-6
                            h4 Heldenname
                            h5 5
                        .col-md-2
                            a.h5.merpg-hand
                                span.glyphicon.glyphicon-pencil