//
   Created by Denny on 29.07.2014.

block battleUI
    #battleUI
        include battleLog
        .container-fluid(data-bind = "visible: !physicalAttackUIActive() && !magicalAttackUIActive()")
            .row.merpg-battleUI(data-bind = "foreach: battleCombatants")
                .merpg-well.merpg-battleUI-well(data-bind = "css: {'merpg-battleUI-done': done, 'merpg-battleUI-dead': dead}")
                    .container-fluid
                        .row
                            .col-xs-6
                                a.thumbnail(href = "#")
                                    image.merpg-fill(src="/images/person-placeholder.jpg")
                            .col-xs-6
                                .container-fluid
                                    .row
                                        h4(data-bind = "text: _id")
                                    .row
                                        span.text-warning(data-bind = "text: currentOB() + ' OB'")
                                    .row
                                        span.text-success(data-bind = "text: currentDB() + ' DB'")
                                    .row.form-group
                                        span.text-danger
                                            span.glyphicon.glyphicon-heart
                                            span(data-bind = "text: currentHits() - hitsTaken() + ' Treffer'")
                                    .row.form-group
                                        .progress.progress-striped.active.merpg-bar-align
                                            .progress-bar.progress-bar-danger(role='progressbar',
                                            data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
                        .row.form-group
                            .col-md-12
                                select#selectAction.form-control(data-bind = "value: currentAction, attr: {disabled: done() || dead() || (decided() && currentAction() != 'prepare')}")
                                    option(value = "meleeAttack", data-bind = "visible: weapon.weaponType == 'melee' || weapon.weaponType == 'both'") Nahkampfangriff
                                    option(value = "missileAttack", data-bind = "visible: (weapon.weaponType == 'ranged' || weapon.weaponType == 'both')") Fernangriff
                                    option(value = "cast", data-bind = "visible: stunned() == 0") Zaubern
                                    option(value = "move") Bewegen
                                    option(value = "prepare") Vorbereiten
                                    option(value = "other") Sonstiges

                        //TODO only visible when A or Z is selected
                        .row.form-group(data-bind = "visible: currentAction() == 'meleeAttack' || currentAction() == 'cast' || currentAction() == 'missileAttack'")
                            .col-md-12
                                label.col-lg-4.control-label(for='selectAttackTarget') Angriffsziel
                                .col-lg-8
                                    select#selectAttackTarget.form-control.input-sm(data-bind = "options: $parent.battleLogEntries, optionsText: '_id', value: attackTarget, attr: {disabled: done() || dead() || (decided() && currentAction() != 'prepare')}")
                        .row.form-group(data-bind = "visible: shield")
                            .col-md-12
                                .col-md-12
                                    label
                                        input#checkboxBlock(type='checkbox', data-bind = "checked: blocking, attr: {disabled: done() || dead()}")
                                        | Blocken

                        .row.form-group(data-bind = "visible: shield && blocking()")
                            .col-md-12
                                label.col-lg-4.control-label(for='selectBlockTarget') Blockziel
                                .col-lg-8
                                    select#selectBlockTarget.form-control.input-sm(data-bind = "options: $parent.battleLogEntries, optionsText: '_id', value: blockTarget, attr: {disabled: done() || dead() || (decided() && currentAction() != 'prepare')}")
                        .row.form-group(data-bind = "visible: (attackTarget() != blockTarget() || !blocking()) && (currentAction() == 'meleeAttack' || currentAction() == 'missileAttack')")
                            .col-md-12
                                span.control-label
                                    | OB für Parieren
                                    input.pull-right(type = "number", min = "0", data-bind = "value: parryDB, valueUpdate: 'afterkeydown', attr: {max: getMaxParryAssignment, disabled: done() || dead() || (decided() && currentAction() != 'prepare')}")
                                input.obParrySlider(type="range", min = "0", step = "1", data-bind = "disable: done() || dead(), attr: {max: getMaxParryAssignment, value: parryDB, id: _id + 'ParrySlider'}, value: parryDB, valueUpdate: 'input'")
                        .row.form-group(data-bind = "visible: shield && blocking()")
                            .col-md-12
                                span.control-label
                                    | OB für Blocken
                                    input.pull-right(type = "number", min = "0", data-bind = "value: blockDB, valueUpdate: 'afterkeydown', attr: {max: getMaxBlockAssignment, disabled: done() || dead() || (decided() && currentAction() != 'prepare')}")
                                input.obBlockSlider(type="range", min = "0", step = "1", data-bind = "disable: done() || dead(), attr: {max: getMaxBlockAssignment, value: blockDB, id: _id + 'ParrySlider'}, value: blockDB, valueUpdate: 'input'")
        include magicalAttackUI
        include physicalAttackUI