//
   Created by Denny on 29.07.2014.

block battleLog
    .container-fluid.well.merpg-battleLog
        .row
            .col-md-11
                //TODO generate dynamic
                .merpg-well
                    .row
                        .col-md-12
                            a.close.merpg-close(type='button')
                                span(aria-hidden='true') ×
                                    span.sr-only Close
                    .container-fluid
                            .row
                                .col-xs-3
                                    a(href = "#")
                                        image.merpg-img-mini(src="/images/person-placeholder.jpg")
                                .col-xs-5
                                    span Heldenname
                                .col-xs-1
                                    span 5
                                .col-xs-2
                                    a.merpg-editPencil
                                        span.glyphicon.glyphicon-pencil
                            .row
                                table.table.table-responsive.table-condensed
                                    tbody
                                        tr
                                            th Treffer
                                            td
                                                input.merpg-tableInput(type = "text", value = "0")
                                        tr
                                            th Treffer pro Runde
                                            td
                                                input.merpg-tableInput(type = "text", value = "0")
                                        tr
                                            th Benommenheit
                                            td
                                                input.merpg-tableInput(type = "text", value = "0")
                                        tr
                                            th Runden bis zum Tod
                                            td
                                                input.merpg-tableInput(type = "text", value = "0")
                                        tr
                                            th Aktivität Bonus
                                            td
                                                input.merpg-tableInput(type = "text", value = "0")

            .col-md-1
                a.btn.btn-block.btn-primary(data-toggle="modal", data-target="#modalAddMonster") Hinzufügen

                #modalAddMonster.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddMonsterTitle', aria-hidden='true')
                    .modal-dialog.modal-lg
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal')
                                    span(aria-hidden='true') ×
                                    span.sr-only Close
                                h4#modalAddMonsterTitle.modal-title Monster hinzufügen
                            .modal-body
                                +monsterEditor(true)
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Abbrechen
                                button.btn.btn-primary(type='button') Hinzufügen
                        //
                           /.modal-content
                        //
                           /.modal-dialog
                    //
                       /.modal