//
   Created by Denny on 30.07.2014.

//
   Created by Denny on 29.07.2014.
.container-fluid.merpg-strong-pad-top
    .row.text-center
        .col-lg-4.form-group
            .merpg-well.merpg-attackUI-well
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            h4 Heldenname
                            p OB
                            p DB
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td Schwert
                                    tr
                                        th Schild
                                        td Wallschild
                                    tr
                                        th R체stung
                                        td Kette
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                #progressHitsCombatant1.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='400', style='width: 5%')
        .col-lg-4.form-group
            .merpg-well.merpg-attackUI-well
                .container-fluid
                    .row
                        .col-md-12
                            table.table.table-responsive.text-left
                                tbody
                                    tr
                                        th Treffer
                                        th Treffer pro Runde
                                    tr
                                        td
                                            input.merpg-tableInput(type='number')
                                        td
                                            input.merpg-tableInput(type='number')
                                        td
                                            .checkbox-inline
                                                label
                                                    input.merpg-tableInput(type='checkbox')
                                                    | Kampfunf채hig
                                    tr
                                        th Benommenheit
                                        th Aktivit채t
                                        th Runden bis zum Tod
                                    tr
                                        td
                                            input.merpg-tableInput(type='number')
                                        td
                                            input.merpg-tableInput(type='number')
                                        td
                                            input.merpg-tableInput(type='number')
        .col-lg-4.form-group
            .merpg-well.merpg-attackUI-well
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            h4 Heldenname
                            p OB
                            p DB
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td Schwert
                                    tr
                                        th Schild
                                        td Wallschild
                                    tr
                                        th R체stung
                                        td Kette
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                #progressHitsCombatant2.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='400', style='width: 5%')