//
   Created by Denny on 30.07.2014.

//
   Created by Denny on 29.07.2014.
.container-fluid(data-bind = "visible: magicalAttackUIActive, with: magicalAttack")
    .row.text-center
        .col-lg-4.form-group(data-bind = "with: attacker")
            .merpg-well.merpg-attackUI-well
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            .row
                                h4(data-bind = "text: _id")
                            .row
                                span.text-warning(data-bind = "text: currentOB() + ' OB'")
                            .row
                                span.text-success(data-bind = "text: currentDB() + ' DB'")
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td(data-bind = "text: weaponName")
                                    tr(data-bind = "visible: shield")
                                        th Schild
                                        td(data-bind = "text: shieldName")
                                    tr(data-bind = "visible: armor")
                                        th Rüstung
                                        td(data-bind = "text: armorName")
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                .progress-bar.progress-bar-danger(role='progressbar',
                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
        .col-lg-4.form-group
            .merpg-well.merpg-attackUI-well
                .container-fluid
                    .row
                        .col-md-12
                            table.table.table-responsive.text-left
                                tbody
                                    tr
                                        th Zauber OB
                                        th Vorb. Runden
                                    tr
                                        td
                                            input.merpg-tableInput(type = "number", data-bind = "value: spellOB, valueUpdate: 'afterkeydown'")
                                        td
                                            input.merpg-tableInput(type = "number", data-bind = "value: preparedRounds, valueUpdate: 'afterkeydown'")
                                    tr
                                        th Distanz
                                        th Spezial
                                    tr
                                        td
                                            input.merpg-tableInput(type = "number", data-bind = "value: range, valueUpdate: 'afterkeydown'")
                                        td
                                            input.merpg-tableInput(type = "number", data-bind = "value: special, valueUpdate: 'afterkeydown'")
                    .row
                        .col-md-12
                            table.table.table-responsive.text-left
                                tbody
                                    tr
                                        th Zauber
                                        th P. Krit
                                        th S. Krit
                                    tr
                                        td
                                            select.form-control.input-sm(data-bind = "value: spellType")
                                                option(value = "shockBolt") Schockstrahl
                                                option(value = "waterBolt") Wasserstrahl
                                                option(value = "iceBolt") Eisstrahl
                                                option(value = "fireBolt") Feuerstrahl
                                                option(value = "lightningBolt") Blitzstrahl
                                                option(value = "coldBall") Kälteball
                                                option(value = "fireBall") Feuerball
                                        td
                                            select.form-control.input-sm(data-bind = "value: primarySpellCritical")
                                                option(value = "cold") Kälteschaden
                                                option(value = "electricity") Elektrizitätsschaden
                                                option(value = "impact") Schlagschaden
                                                option(value = "heat") Hitzeschaden
                                        td
                                            select.form-control.input-sm(data-bind = "value: secondarySpellCritical")
                                                option(value = "none") Keinen
                                                option(value = "cold") Kälteschaden
                                                option(value = "electricity") Elektrizitätsschaden
                                                option(value = "impact") Schlagschaden
                                                option(value = "heat") Hitzeschaden
                    .row
                        .col-md-12
                            table.table.table-responsive.text-left
                                tbody
                                    tr
                                        td Angriff
                                        td
                                            input.merpg-tableInput(type = "text", data-bind = "value: attackRoll, valueUpdate: 'afterkeydown'")
                                        td(data-bind = "text: attackResultText")
                                    tr(data-bind = "visible: attackResult().critical")
                                        td Primär Krit
                                        td
                                            input.merpg-tableInput(type = "text", data-bind = "value: primaryCriticalRoll, valueUpdate: 'afterkeydown'")
                                        td(data-bind = "text: primaryCriticalResultText")
                                    tr(data-bind = "visible: secondarySpellCritical() != 'none' && attackResult().critical >= 'C' && !(defender().size == 'large' || defender().size == 'huge')")
                                        td Sekundär Krit
                                        td
                                            input.merpg-tableInput(type = "text", data-bind = "value: secondaryCriticalRoll, valueUpdate: 'afterkeydown'")
                                        td(data-bind = "text: secondaryCriticalResultText")
                                    tr
                                        td(colspan="2")
                                            a.btn.btn-success.btn-block(data-bind = "click: applyResults")
                                                | Ausführen
                                        td(colspan="1")
                                            a.btn.btn-danger.btn-block(data-bind = "click: cancelAttack")
                                                | Abbrechen

        .col-lg-4.form-group(data-bind = "with: defender")
            .merpg-well.merpg-attackUI-well(data-bind = "css: {'merpg-battleUI-dead': dead}")
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            .row
                                h4(data-bind = "text: _id")
                            .row
                                span.text-warning(data-bind = "text: currentOB() + ' OB'")
                            .row
                                span.text-success(data-bind = "text: currentDB() + ' DB'")
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td(data-bind = "text: weaponName")
                                    tr(data-bind = "visible: shield")
                                        th Schild
                                        td(data-bind = "text: shieldName")
                                    tr(data-bind = "visible: armor")
                                        th Rüstung
                                        td(data-bind = "text: armorName")
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                .progress-bar.progress-bar-danger(role='progressbar',
                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')