//
   Created by Denny on 30.07.2014.

//
   Created by Denny on 29.07.2014.
.container-fluid(data-bind = "visible: magicalAttackUIActive, with: magicalAttack")
    .row.text-center
        .col-lg-4.form-group(data-bind = "with: attacker")
            .merpg-well.merpg-attackUI-well
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            .row
                                h4(data-bind = "text: _id")
                            .row
                                span.text-warning(data-bind = "text: currentOB() + ' OB'")
                            .row
                                span.text-success(data-bind = "text: currentDB() + ' DB'")
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td(data-bind = "text: weaponName")
                                    tr(data-bind = "visible: shield")
                                        th Schild
                                        td(data-bind = "text: shieldName")
                                    tr(data-bind = "visible: armor")
                                        th Rüstung
                                        td(data-bind = "text: armorName")
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                .progress-bar.progress-bar-danger(role='progressbar',
                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
        .col-lg-4.form-group
            .merpg-well.merpg-attackUI-well
                .container-fluid
                    .row
                        .col-md-12
                            table.table.table-responsive.text-left
                                tbody
                                    tr
                                        th Treffer
                                        th Treffer pro Runde
                                    tr
                                        td
                                            input.merpg-tableInput(type='number', data-bind = "value: hitsTaken")
                                        td
                                            input.merpg-tableInput(type='number', data-bind = "value: hitsPerRound")
                                        td
                                            .checkbox-inline
                                                label
                                                    input.merpg-tableInput(type='checkbox', data-bind = "checked: knockedOut")
                                                    | Kampfunfähig
                                    tr
                                        th Benommenheit
                                        th Aktivität
                                        th Runden bis zum Tod
                                    tr
                                        td
                                            input.merpg-tableInput(type='number', data-bind = "value: stunned")
                                        td
                                            input.merpg-tableInput(type='number', data-bind = "value: activity")
                                        td
                                            input.merpg-tableInput(type='number', data-bind = "value: roundsTillDeath")
                                    tr
                                        td(colspan="2")
                                            a.btn.btn-success.btn-block(data-bind = "click: applyResults")
                                                | Ausführen
                                        td(colspan="1")
                                            a.btn.btn-danger.btn-block(data-bind = "click: cancelAttack")
                                                | Abbrechen
        .col-lg-4.form-group(data-bind = "with: defender")
            .merpg-well.merpg-attackUI-well(data-bind = "css: {'merpg-battleUI-dead': dead}")
                .container-fluid.text-left
                    .row
                        .col-xs-6
                            a.thumbnail(href = "#")
                                image.merpg-fill(src="/images/person-placeholder.jpg")
                        .col-xs-6
                            .row
                                h4(data-bind = "text: _id")
                            .row
                                span.text-warning(data-bind = "text: currentOB() + ' OB'")
                            .row
                                span.text-success(data-bind = "text: currentDB() + ' DB'")
                    .row.form-group
                        .col-md-12
                            table.table.table-responsive
                                tbody
                                    tr
                                        th Waffe
                                        td(data-bind = "text: weaponName")
                                    tr(data-bind = "visible: shield")
                                        th Schild
                                        td(data-bind = "text: shieldName")
                                    tr(data-bind = "visible: armor")
                                        th Rüstung
                                        td(data-bind = "text: armorName")
                    .row.form-group
                        .col-md-12
                            .progress.progress-striped.active.merpg-bar-align
                                .progress-bar.progress-bar-danger(role='progressbar',
                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')