body {background-color: #ECC396; position: relative;}
h1 { color: white; background-color: #5B0400; text-align: center;}
h2 {text-align: middle; text-decoration:underline;}
h3{ text-align: middle}
h4 {text-decoration: underline; padding-top: 1rem;}


#header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white; 
		background-color: #5B0400;
		margin-left:0.5%;
		margin-right:0.5%;
		margin-top:2rem;
		text-align: center;
		max-width:100%;
		font-size:3em;
		padding: 0.7rem;
		}

#startseite {
		justify-self: flex-start;
		color: white; 
		float:left;
		font-size:1.2rem;
		margin-left:1%;
		margin-top:0.6%;
		text-decoration: underline;
		font-size:2rem;
		}
		
#nav {
		height: 85%;
		min-width: 13rem;
		width: 20%;
		background-color: #5B0400;
		color: white;
		border: 1px solid black;
		position:fixed;
		padding: 1%;
		padding-left:3%;
		margin-top:1%;
		margin-left:0.4%;
		border-color:white;
		border-width:3px;
		overflow-x:auto;
		font-size: 1.5rem;
		
		
		}	
		
#nav a {
		color:white;
		padding: 2% 0;
		
		}
		
#nav ol{
		list-style-type: upper-roman;
		font-size: 1.7rem;
		
		
}
		
.hauptbild {
	padding: 1.5%; 
	background-color: grey;
	margin-left:0;
	margin-top:-1%; 
	overflow: hidden;
}


#section   {
		text-align: center;
		display: flex;
		flex-direction: column;
		background-color: #ECC396;
		width: 70%; //65
		height: max-height;
		margin-left: 28%;
		margin-top: 2rem;
		margin-right: 5%;
		font-family: 'Playfair Display', serif;
		font-size: 1.5rem;
		}
		
#section  p {			
	margin: 0 10%;		 
	width: 80%;
		}
		
.section-box {
	border: 2px solid black;
	border-style: dashed;
	padding: 2%;
	margin: 5%;
	padding: 1%;
	font-size: 1.6rem;
	background-color: #ebcaa8cc;
	/*display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/	
}

.section-box span {
	font-size: 1.8rem;
	font-weight: bold;
}

#mittelteil {
	flex-grow: 3;
}
		
#char-building {
	/*float:right;
	text-align: center;
	background-color: #ECC396;
	width: 10%;
	position:absolute;
	height: 100%;
	border: 1px solid black;
	margin-left: 90%;
	margin-right: 1%;
	margin-top:4%;*/
	flex-grow:1;
}


/*Ab hier beginnen die allgemeinen Einstellungen für Standardelemente*/
.accordion {
	width: 80%;
	margin-left: 9rem;
	background-color: #5b0400;
	color: white;
	cursor: pointer;
	padding: 18px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
  }

#charakter-ol {
	  margin-top: 0px;
	  padding-left: 0px;
 
}
	
li a {
		display: block;
		color: white;
		padding: 1px;
		text-decoration: none;
}

li a:hover {
		background-color: #555;
		color: white;
		
		display: inline-block;
}

table {	width:80%;
		border-collapse: collapse;
		border: 0.2em solid #5b0400;
		}
	
tr:nth-child(even){background-color: #DBB285;}
tr:hover {background-color: #5B0400;
		color: #fff;}
		
caption {
	font-weight: bold;
}
		
		
/* Ab hier beginnen die classes und ids*/

.liste {
	margin-top: 1rem;
	display: flex;
	justify-content: space-evenly;
	background-color: #dbb285;
	padding: inherit;
	margin: 1rem 1rem;
}

.liste ul {
	list-style: none;
}

.flexbox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 1em;
		}
		
.flexbox div{
		display:flex;
		flex-direction:column;
		margin:1%;
		}
.flexbox div input{
		margin-bottom: 0.5em;
		}
		
.volk_box {
		text-align: left;
		margin-left: 40px;
		}
		
#list {
		text-align: left;
		background-color: #c99867;
		float: left;
		margin-top: 1%;
		line-height: 150%;
}

.block {
		margin-left: 10%;
		margin-right: 15%;
		text-align:left;
		display:block; 
		
}

.beruf_block {
		text-align: left;
		list-style: none;
		margin-left:15%;
		margin-right:10%;
		
	
}


div.block > ul li {
	text-align: center;
}
	
#underline {
		text-decoration: underline;
}


#tabhead {
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	background:#ffffff url(../images/kampf.jpg) no-repeat scroll;

	 
}

.z_liste {
	text-align: center;
	width: 30px;
	height: 20px;
}

.bild {
	height: 300px;
	width: 200px;
}


#jugend td, #eigenschaften td {
	padding:0.3em;
}

#jugend th{
	font-size:1.2em;
	text-align: left;
	padding: 0.2em;
	border-bottom-color: white;
	border-top-color: white;
	border-bottom-style: dashed;
	border-top-style: dashed;
}	


/*#eigenschaften > table td { height:35px;}*/
	
#lehrzeit-tab {
	height: auto;
	width: 100%;
	display: block;
}

#werdegang tr, #werdegang td{
	padding:10px;
	height: 20px;
}

#gold-tab {
	display: inline-flex;
	
	
	
}

#gold-tab table{
	min-width: 200px;
	width: 0px;
}

#lehrzeit-tab tbody{
	display: inline-block;
}

@media only screen and (max-width: 1440px) {
	#lehrzeit-tab {
		overflow-x: scroll;
	}
}

	#lehrzeit > ul{
		text-align:left;
		margin-left: 10%;
		margin-right: 10%;
		
	}


#sprachen {
	text-align:center;
	margin-top:5%;
}

.wichtig {
	width: 70%;
	margin-left: 15%;
	padding: 1rem;
	background-color: #5b0400;
	color: white;
	font-size: 1.7rem;
	font-weight: 600;
}

.beispiel-box {
	font-style: italic;
	margin: 0 2rem;
	 
}

.glossarBegriff {
	border-bottom: 1px dotted white;
}

.glossarBegriff:hover {
	background-color: #555;
}

/* ab hier folgen die Einstellungen für die Menüs*/
	#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../images/ui.totop.png) no-repeat left top;
}

#toTopHover {
  background:url(../images/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}	

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
		
		
