body {background-color: #26272c;}

#header {
		color: white;
		background-color: #1d2024 ;
		width: 80%;
		height: 10em;
		margin-top: 10%;
		margin-left:10%;
		margin-right:10%;

		display: flex;
		align-items: center;
		justify-content: center;
		}

		
#navbar {
		font-size: large;
		color: white;
		margin-left: 20%;
		margin-right: 20%;
		}
		
#navbar ul {}		
		
#navbar ul li {
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
	
		padding: 1%;
		}
		
#navbar ul li a{
		color: white;
		text-decoration:none;
			}
			
#section {
		text-align: center;
		color: white;
		clear: both;
		margin-left: 10%;
		margin-right: 10%;
		}

#section img {
  position: center;
  height: auto;
  width: 100%;
}

.port_links {
	margin-top: 2%;
	color: white;
	float: left;
	width: 45%;
	margin-left:5%;
		}

.port_links img {	
	position: center;
	height: auto;
	width: 95%;
  }		
  
.port_links p {
	 width:95%;
 }
		
.port_rechts {
	float: right;
	color: white;
	width: 45%;
	margin-top:20%;
	margin-right: 5%;
}

.port_rechts img {	
	position: center;
	height: auto;
	width: 95%;
  }	
  
.port_rechts p {
	 width:95%;
 }
 
.trenner {
	clear: both;
	padding-top:5%;
	background-color: #dac7be;
	
}



	