section {
	height: 900px; 
	width:80%;
}

h3 {
	margin: 2% 0;
}

.portrait {
	width: 69%;
	min-height: 40rem; 
	margin: 0 auto;
	background-color: lightcoral;	
}

.oben {
	display: flex;
	/*! flex-direction: column; */
	background-color: lightgray;
	flex-wrap:wrap;
	min-height: 22rem;
	justify-content: center;
	flex-grow: ;
}

.unten {
	display: flex;
	min-height: 20rem;
}

.linke-spalte {
	max-height: inherit;
	min-width: 15rem;
	display:flex;
	flex-direction: row;
	background-color: lightblue;
	align-items: center;
	flex-grow: 1;
}

.rechte-Spalte {
	max-height: inherit;
	min-width: 15rem;
	display:flex;
	flex-direction: column;
	background-color: lightred;
	align-items: end;
	justify-content: center;
	flex-grow: 2;
}

.char-Bild {
	max-height: 250px;
	max-width: 150px;
	 //border: 1px solid black;
	 margin: 20px; 
	 margin-bottom: 0px;
}

.char-Bild img{
	max-height: 250px;
	max-width: 150px;
}

.char-Werte {
	padding: 0.5em;
}

.waffen-werte {
	display: flex;
}

.waffen-werte input{
	font-size: 1em !important;
	
}

.waffenbox1, .waffenbox2 {

}

.ausgabe-waffe1, .ausgabe-waffe2 {
	font-size: 0.8rem;
	width: 9rem;
	height: 4rem;
}

.treffer-regler {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cadetblue; 
	padding: 0.4rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}

.ausgabe-treffer {
	padding: 0.3rem;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  
.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.button {
	height: 1.9rem;
	width: 1.9rem;
}

.char-Werte ul{
	list-style:none;
}

.char-Werte input{
	font-size: 1.2em;
}

.vorab-wuerfe {
	padding: 5%;
}

.char-Zustaende {
	padding: 0 5%;
	display: flex;
	min-height: 100px;
	justify-content: center;
	align-self: flex-end;
}


.char-Zustaende button{
	font-size: 1.2em;
	
}

.zustand-bild {
	align-self: center;
	display: grid;
}

.char-Fertigkeiten {
	margin: 5%;
	font-size: 1.2em;
	flex-grow: 8;
}

.notizen {
	padding: 5%;
}

.zustaende-box {
	min-height: 8rem;
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

.buttons {
	flex-grow: 1;
	min-width:30px;
	align-self: flex-end;
	padding: 1%;
	display: none;
}


