//
   Created by Denny on 29.07.2014.

block battleLog
    #battleLog
        .container-fluid.well.merpg-battleLog
            .row
                .col-md-12
                    .btn-group-vertical.btn-group-justified
                        a.btn.btn-block.btn-primary.btn-block(data-toggle="modal", data-target="#modalAddLogMonster") Hinzufügen
                        a.btn.btn-success.btn.btn-block(data-bind = "click: nextAction")
                            span.glyphicon.glyphicon-forward

                #modalAddLogMonster.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddMonsterTitle', aria-hidden='true', data-bind = "with: quickMonsterEditor")
                    .modal-dialog.modal-lg
                        .modal-content
                            .modal-header
                                h4#modalAddMonsterTitle.modal-title Monster hinzufügen
                            .modal-body
                                .container-fluid
                                    .row
                                        .col-md-8.col-md-offset-2
                                            .row
                                                .col-xs-10
                                                    select#selectAvailableMonsters.form-control(data-bind = "options: monstersList, optionsText: 'name', optionsValue: 'name', value: selectedMonster")
                                                .col-xs-2
                                                    a.btn.bg-primary(data-bind = "click: loadSelectedMonster, css: {disabled: monstersList().length == 0}")
                                                        span.glyphicon.glyphicon-floppy-open
                                            form#monsterEditorForm.form-horizontal(data-bind = "visible: loadedMonster")
                                                fieldset(data-bind = "with: loadedMonster")
                                                    legend Monster Editor
                                                    .form-group.visible-lg
                                                        .col-lg-3
                                                            a.thumbnail(href = "#")
                                                                image.merpg-fill(src="/images/person-placeholder.jpg")
                                                        .col-xs-12.col-lg-9
                                                            .container-fluid
                                                                .row.form-group
                                                                    .col-xs-8
                                                                        input#inputMonstername.form-control(type='text', placeholder='Monstername', data-bind = "value: _id, valueUpdate: 'afterkeydown'")
                                                                    .col-xs-4
                                                                        input#inputLevel.form-control(type='number', placeholder='Level', min="1", max="60", data-bind = "value: $parent.level, valueUpdate: 'afterkeydown'")
                                                                .row.form-group
                                                                    .col-md-12
                                                                        textarea#taMonsterDescription.form-control(rows='3', data-bind = "value: description") Monsterbeschreibung
                                                    .form-group.hidden-lg
                                                        .col-xs-8
                                                            input#inputMonstername.form-control(type='text', placeholder='Monstername', data-bind = "value: _id, valueUpdate: 'afterkeydown'")
                                                        .col-xs-4
                                                            input#inputLevel.form-control(type='number', placeholder='Level', min="1", max="60", data-bind = "value: $parent.level, valueUpdate: 'afterkeydown'")
                                                    .form-group
                                                        label.col-md-2.control-label Größe
                                                        .col-md-10
                                                            .radio-inline
                                                                label
                                                                    input#radioTiny(type='radio', name='sizeRadios', value='tiny', data-bind = "checked: size")
                                                                    | Winzig
                                                            .radio-inline
                                                                label
                                                                    input#radioSmall(type='radio', name='sizeRadios', value='small', data-bind = "checked: size")
                                                                    | Klein
                                                            .radio-inline
                                                                label
                                                                    input#radioRegular(type='radio', name='sizeRadios', value='normal', data-bind = "checked: size")
                                                                    | Normal
                                                            .radio-inline
                                                                label
                                                                    input#radioLarge(type='radio', name='sizeRadios', value='large', data-bind = "checked: size")
                                                                    | Groß
                                                            .radio-inline
                                                                label
                                                                    input#radioHuge(type='radio', name='sizeRadios', value='huge', data-bind = "checked: size")
                                                                    | Riesig

                                                    div.visible-lg
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectWeapon') Waffe
                                                            .col-lg-9
                                                                select#selectWeapon.form-control(data-bind = "options: weaponsList, optionsText: 'name', optionsValue: 'name', value: weaponName")
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectShield') Schild
                                                            .col-lg-9
                                                                select#selectShield.form-control(data-bind = "options: shieldsList, optionsText: 'name', optionsValue: 'name', value: shieldName, valueAllowUnset: true")
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectArmor') Rüstung
                                                            .col-lg-9
                                                                select#selectArmor.form-control(data-bind = "options: armorsList, optionsText: 'name', optionsValue: 'name', value: armorName, valueAllowUnset: true")
                                                    .form-inline.form-group.hidden-lg
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectWeapon') Waffe
                                                            .col-lg-9
                                                                select#selectWeapon.form-control(data-bind = "options: weaponsList, optionsText: 'name', optionsValue: 'name', value: weaponName")
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectShield') Schild
                                                            .col-lg-9
                                                                select#selectShield.form-control(data-bind = "options: shieldsList, optionsText: 'name', optionsValue: 'name', value: shieldName, valueAllowUnset: true")
                                                        .form-group
                                                            label.col-lg-3.control-label(for='selectArmor') Rüstung
                                                            .col-lg-9
                                                                select#selectArmor.form-control(data-bind = "options: armorsList, optionsText: 'name', optionsValue: 'name', value: armorName, valueAllowUnset: true")
                                                    .form-group
                                                        label.col-md-2.control-label Extras
                                                        .col-md-10
                                                            .checkbox-inline
                                                                label
                                                                    input#checkboxHelmet(type='checkbox', data-bind = "checked: helmet")
                                                                    | Helm
                                                            .checkbox-inline
                                                                label
                                                                    input#checkBoxArmGreaves(type='checkbox', data-bind = "checked: armGreaves")
                                                                    | Armschienen
                                                            .checkbox-inline
                                                                label
                                                                    input#checkBoxLegGreaves(type='checkbox', data-bind = "checked: legGreaves")
                                                                    | Beinschienen
                                                            br
                                                            .checkbox-inline
                                                                label
                                                                    input#checkboxBloodImmun(type='checkbox', data-bind = "checked: bloodImmun")
                                                                    | nicht von Blutungen betroffen
                                                            .checkbox-inline
                                                                label
                                                                    input#checkboxStunImmun(type='checkbox', data-bind = "checked: stunImmun")
                                                                    | nicht von Benommenheit betroffen
                                                    .container-fluid
                                                        .row.form-group
                                                            .col-md-12
                                                                .checkbox-inline
                                                                    label
                                                                        input#checkboxOverwrite(type='checkbox', data-bind = "checked: manualOverwrite")
                                                                        | Manuelle Zuweisung
                                                        .row
                                                            .col-xs-4
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputHits') Treffer
                                                                    .col-xs-6
                                                                        input#inputHits.form-control.input-sm(type='number', placeholder='Treffer', min="1", max="450", data-bind = "value: currentHits, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputOB') OB
                                                                    .col-xs-6
                                                                        input#inputOB.form-control.input-sm(type='number', placeholder='OB', min="0", max="240", data-bind = "value: currentOB, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputDB') DB
                                                                    .col-xs-6
                                                                        input#inputDB.form-control.input-sm(type='number', placeholder='DB', min="0", max="75", data-bind = "value: currentDB, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputMM') BM
                                                                    .col-xs-6
                                                                        input#inputMM.form-control.input-sm(type='number', placeholder='BM', min="-85", max="50", data-bind = "value: currentMM, valueUpdate: 'afterkeydown'")
                                                            .col-xs-8
                                                                .progress.progress-striped.active.merpg-bar-align
                                                                    #progressCompareHits.progress-bar.progress-bar-danger(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxHits}, style: {width: $parent.compareHits}")
                                                                .progress.progress-striped.active.merpg-bar-align
                                                                    #progressCompareOB.progress-bar.progress-bar-warning(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxOB}, style: {width: $parent.compareOB}")
                                                                .progress.progress-striped.active.merpg-bar-align
                                                                    #progressCompareDB.progress-bar.progress-bar-success(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxDB}, style: {width: $parent.compareDB}")
                                                                .progress.progress-striped.active.merpg-bar-align
                                                                    #progressCompareHitsMM.progress-bar.progress-bar-info(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxMM}, style: {width: $parent.compareMM}")
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal', data-bind = "click: closeQuickEditor") Abbrechen
                                button.btn.btn-primary(type='button', data-bind = "click: $parent.addMonster, visible: loadedMonster", data-dismiss='modal') Hinzufügen
                        //
                           /.modal-content
                        //
                           /.modal-dialog
                    //
                       /.modal
        .container-fluid
            .row.merpg-battleUI
                .col-md-12(data-bind = "foreach: battleLogEntries")
                    .merpg-well.merpg-battleUI-well(data-bind = "css: {'merpg-battleUI-dead': dead}")
                        .row
                            .col-md-12
                                a.close.merpg-close(type='button')
                                    span(aria-hidden='true', data-bind = "click: $parent.removeCombatant") ×
                                        span.sr-only Close
                                a.merpg-editPencil.pull-right.visible-lg(style="padding: 5px 5px 0 0; font-size: 12px")
                                    span.glyphicon.glyphicon-pencil(data-toggle="modal", data-target="#modalAddLogMonster", data-bind = "click: $parent.editExistingMonster")
                        .row
                            .col-xs-6.visible-lg
                                a.thumbnail(href = "#")
                                    image.merpg-fill(src="/images/person-placeholder.jpg")
                            .col-xs-12.col-lg-6
                                .container-fluid.visible-lg
                                    .row
                                        h4(data-bind = "text: _id")
                                    .row
                                        span.text-warning(data-bind = "text: currentOB() + ' OB'")
                                    .row
                                        span.text-success(data-bind = "text: currentDB() + ' DB'")
                                    .row
                                        span.text-info(data-bind = "text: currentMM() + ' MM'")
                                    .row.form-group
                                        span.text-danger
                                            span.glyphicon.glyphicon-heart
                                            span(data-bind = "text: currentHits() - hitsTaken() + '   Treffer'")
                                    .row.form-group
                                        .progress.progress-striped.active.merpg-bar-align
                                            .progress-bar.progress-bar-danger(role='progressbar',
                                            data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
                                .container-fluid.hidden-lg
                                    .row.form-group
                                        table.table.table-responsive.table-condensed.merpg-noMargin
                                            tbody
                                                tr
                                                    td
                                                        h4.merpg-noMargin(data-bind = "text: _id + generateId()")
                                                    td
                                                        h4.merpg-noMargin.text-warning(data-bind = "text: currentOB() + ' OB'")
                                                    td
                                                        h4.merpg-noMargin.text-success(data-bind = "text: currentDB() + ' DB'")
                                                    td
                                                        h4.merpg-noMargin.text-info(data-bind = "text: currentMM() + ' MM'")
                                                    td
                                                        h4.merpg-noMargin.text-danger
                                                            span.glyphicon.glyphicon-heart
                                                            span
                                                            span(data-bind = "text: currentHits() - hitsTaken() + ' Treffer'")
                                                    td
                                                        a.merpg-editPencil.btn.btn-block.btn-warning.btn-sm
                                                            span.glyphicon.glyphicon-pencil(data-toggle="modal", data-target="#modalAddLogMonster", data-bind = "click: $parent.editExistingMonster")
                                    .row.form-group
                                        .progress.progress-striped.active.merpg-bar-align
                                            .progress-bar.progress-bar-danger(role='progressbar',
                                            data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
                        .row.visible-lg
                            .col-md-12
                                table.table.table-responsive.table-condensed
                                    tbody
                                        tr
                                            th Treffer erhalten
                                            td
                                                input.text-right(type = "text", data-bind = "value: hitsTaken, valueUpdate: 'input'")
                                        tr
                                            th Treffer pro Runde
                                            td
                                                input.text-right(type = "text", data-bind = "value: hitsPerRound, valueUpdate: 'input'")
                                        tr
                                            th Benommenheit
                                            td
                                                input.text-right(type = "text", data-bind = "value: stunned, valueUpdate: 'input'")
                                        tr
                                            th Runden bis zum Tod
                                            td
                                                input.text-right(type = "text", data-bind = "value: roundsTillDeath, valueUpdate: 'input'")
                                        tr
                                            th Aktivität Malus
                                            td
                                                input.text-right(type = "text", data-bind = "value: bonus, valueUpdate: 'input'")
                                        tr
                                            td
                                                .checkbox-inline
                                                    label
                                                        input(type='checkbox', data-bind = "checked: knockedOut")
                                                        | Kampfunfähig
                        .row.hidden-lg
                            .col-md-12
                                table.table.table-responsive.table-condensed
                                    tbody
                                        tr
                                            th Treffer erhalten
                                            th Treffer pro Runde
                                            th Benommenheit
                                            th Runden bis zum Tod
                                            th Aktivität Malus
                                            th
                                                .checkbox-inline
                                                    label
                                                        input(type='checkbox', data-bind = "checked: knockedOut")
                                                        | Kampfunfähig
                                        tr
                                            td.text-right
                                                input.text-right.merpg-tableInputFill(type = "text", data-bind = "value: hitsTaken, valueUpdate: 'input'")
                                            td
                                                input.text-right.merpg-tableInputFill(type = "text", data-bind = "value: hitsPerRound, valueUpdate: 'input'")
                                            td
                                                input.text-right.merpg-tableInputFill(type = "text", data-bind = "value: stunned, valueUpdate: 'input'")
                                            td
                                                input.text-right.merpg-tableInputFill(type = "text", data-bind = "value: roundsTillDeath, valueUpdate: 'input'")
                                            td
                                                input.text-right.merpg-tableInputFill(type = "text", data-bind = "value: bonus, valueUpdate: 'input'")