//
   Created by Denny on 29.07.2014.

block battleLog
    #battleLog(style = "margin-bottom: 400px")
        .container-fluid.well.merpg-battleLog
            .row
                .col-sm-4(style = "margin-bottom: 5px")
                    .input-group
                        input.form-control(style = "width: 75px", type = "number", data-bind = "value: counterSpeed, valueUpdate: 'afterkeydown'")
                        span.input-group-btn.merpg-tableInputFill
                            a.btn.btn-danger(data-bind = "click: stopCounter")
                                span.glyphicon.glyphicon-stop
                            a.btn.btn-warning(data-bind = "click: resetCounter")
                                span.glyphicon.glyphicon-repeat
                            a.btn.btn-success(data-bind = "click: startCounter")
                                span.glyphicon.glyphicon-check
                .col-sm-8
                    .btn-group-vertical.btn-group-justified
                        a.btn.btn-block.btn-primary.btn-block(data-bind = "click: loadSession")
                            span.glyphicon.glyphicon-floppy-open
                        a.btn.btn-block.btn-success.btn-block(data-bind = "click: saveSession")
                            span.glyphicon.glyphicon-floppy-save
                        a.btn.btn-block.btn-info.btn-block(data-toggle="modal", data-target="#modalAddLogMonster") Hinzufügen
                        a.btn.btn-danger.btn.btn-block(data-bind = "click: nextAction")
                            span.glyphicon.glyphicon-forward
            .row
                .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4.text-center
                    .clock

                #modalAddLogMonster.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalAddMonsterTitle', aria-hidden='true', data-bind = "with: quickMonsterEditor")
                    .modal-dialog.modal-lg
                        .modal-content
                            .modal-header
                                h4#modalAddMonsterTitle.modal-title Monster hinzufügen
                            .modal-body
                                .container-fluid
                                    .row
                                        .col-md-8.col-md-offset-2
                                            .row
                                                .col-xs-10
                                                    select#selectAvailableMonsters.form-control(data-bind = "options: monstersList, optionsText: 'name', optionsValue: 'name', value: selectedMonster")
                                                .col-xs-2
                                                    a.btn.bg-primary(data-bind = "click: loadSelectedMonster, css: {disabled: monstersList().length == 0}")
                                                        span.glyphicon.glyphicon-floppy-open
                                            form#monsterEditorForm.form-horizontal(data-bind = "visible: loadedMonster")
                                                fieldset(data-bind = "with: loadedMonster")
                                                    legend Monster Editor
                                                    .form-group.visible-lg
                                                        .col-lg-3
                                                            a.thumbnail(href = "#")
                                                                image.merpg-fill(src="/images/person-placeholder.jpg")
                                                        .col-xs-12.col-lg-9
                                                            .container-fluid
                                                                .row.form-group
                                                                    .col-xs-8
                                                                        input#inputMonstername.form-control(type='text', placeholder='Monstername', data-bind = "value: _id, valueUpdate: 'afterkeydown'")
                                                                    .col-xs-4
                                                                        input#inputLevel.form-control(type='number', placeholder='Level', min="1", max="60", data-bind = "value: $parent.level, valueUpdate: 'afterkeydown'")
                                                                .row.form-group
                                                                    .col-md-12
                                                                        textarea#taMonsterDescription.form-control(rows='3', data-bind = "value: description") Monsterbeschreibung
                                                    .form-group.hidden-lg
                                                        .col-xs-8
                                                            input#inputMonstername.form-control(type='text', placeholder='Monstername', data-bind = "value: _id, valueUpdate: 'afterkeydown'")
                                                        .col-xs-4
                                                            input#inputLevel.form-control(type='number', placeholder='Level', min="1", max="60", data-bind = "value: $parent.level, valueUpdate: 'afterkeydown'")

                                                    .container-fluid
                                                        .row.form-group
                                                            .col-md-12
                                                                .checkbox-inline
                                                                    label
                                                                        input#checkboxOverwrite(type='checkbox', data-bind = "checked: manualOverwrite")
                                                                        | Manuelle Zuweisung
                                                        .row
                                                            .col-xs-4
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputHits') Treffer
                                                                    .col-xs-6
                                                                        input#inputHits.form-control.input-sm(type='number', placeholder='Treffer', min="1", max="450", data-bind = "value: currentHits, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputOB') OB
                                                                    .col-xs-6
                                                                        input#inputOB.form-control.input-sm(type='number', placeholder='OB', min="0", max="240", data-bind = "value: currentOB, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputDB') DB
                                                                    .col-xs-6
                                                                        input#inputDB.form-control.input-sm(type='number', placeholder='DB', min="0", max="75", data-bind = "value: currentDB, valueUpdate: 'afterkeydown'")
                                                                .form-group
                                                                    label.col-xs-6.control-label(for='inputMM') BM
                                                                    .col-xs-6
                                                                        input#inputMM.form-control.input-sm(type='number', placeholder='BM', min="-85", max="50", data-bind = "value: currentMM, valueUpdate: 'afterkeydown'")
                                                            .col-xs-8
                                                                .progress.merpg-bar-align
                                                                    #progressCompareHits.progress-bar.progress-bar-danger(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxHits}, style: {width: $parent.compareHits}")
                                                                .progress.merpg-bar-align
                                                                    #progressCompareOB.progress-bar.progress-bar-warning(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxOB}, style: {width: $parent.compareOB}")
                                                                .progress.merpg-bar-align
                                                                    #progressCompareDB.progress-bar.progress-bar-success(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxDB}, style: {width: $parent.compareDB}")
                                                                .progress.merpg-bar-align
                                                                    #progressCompareHitsMM.progress-bar.progress-bar-info(role='progressbar', aria-valuemin='0', data-bind = "attr: {'aria-valuemax': $parent.maxMM}, style: {width: $parent.compareMM}")
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal', data-bind = "click: closeQuickEditor") Abbrechen
                                button.btn.btn-primary(type='button', data-bind = "click: $parent.addMonster, visible: loadedMonster", data-dismiss='modal') Hinzufügen
                        //
                           /.modal-content
                        //
                           /.modal-dialog
                    //
                       /.modal
        .container-fluid
            .row.merpg-battleUI
                .col-md-12(data-bind = "foreach: battleLogEntries")
                    .merpg-well.merpg-battleUI-well(data-bind = "css: {'merpg-battleUI-dead': dead}")
                        .row
                            .col-md-12
                                a.close.merpg-close(type='button')
                                    span(aria-hidden='true', data-bind = "click: $parent.removeCombatant") ×
                                        span.sr-only Close
                                a.merpg-editPencil.pull-right.visible-lg(style="padding: 5px 5px 0 0; font-size: 12px")
                                    span.glyphicon.glyphicon-pencil(data-toggle="modal", data-target="#modalAddLogMonster", data-bind = "click: $parent.editExistingMonster")
                        .row
                            .col-xs-6.visible-lg
                                a.thumbnail(href = "#")
                                    image.merpg-fill(src="/images/person-placeholder.jpg")
                            .col-xs-12.col-lg-6
                                if(locals.os !== "android")
                                    .container-fluid
                                        .row
                                            h4(data-bind = "text: _id")
                                        .row
                                            span.text-warning(data-bind = "text: currentOB() + ' OB'")
                                        .row
                                            span.text-success(data-bind = "text: currentDB() + ' DB'")
                                        .row
                                            span.text-info(data-bind = "text: currentMM() + ' MM'")
                                        .row.form-group
                                            span.text-danger
                                                span.glyphicon.glyphicon-heart
                                                span(data-bind = "text: currentHits() - hitsTaken() + '   Treffer'")
                                        .row.form-group
                                            .progress.merpg-bar-align
                                                .progress-bar.progress-bar-danger(role='progressbar',
                                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
                                else
                                    .container-fluid
                                        .row.form-group
                                            table.table.table-responsive.table-condensed.merpg-noMargin
                                                tbody
                                                    tr
                                                        td
                                                            h4.merpg-noMargin(data-bind = "text: _id")
                                                        td
                                                            h4.merpg-noMargin.text-warning(data-bind = "text: currentOB() + ' OB'")
                                                        td
                                                            h4.merpg-noMargin.text-success(data-bind = "text: currentDB() + ' DB'")
                                                        td
                                                            h4.merpg-noMargin.text-info(data-bind = "text: currentMM() + ' MM'")
                                                        td
                                                            h4.merpg-noMargin.text-danger
                                                                span.glyphicon.glyphicon-heart
                                                                span
                                                                span(data-bind = "text: currentHits() - hitsTaken() + ' Treffer'")
                                                        td
                                                            a.merpg-editPencil.btn.btn-block.btn-warning.btn-sm
                                                                span.glyphicon.glyphicon-pencil(data-toggle="modal", data-target="#modalAddLogMonster", data-bind = "click: $parent.editExistingMonster")
                                        .row.form-group
                                            .progress.merpg-bar-align
                                                .progress-bar.progress-bar-danger(role='progressbar',
                                                data-bind = "attr: {'aria-valuenow': currentHits() - hitsTaken(), 'aria-valuemax': currentHits()}, style: {width: max((currentHits() - hitsTaken()) / currentHits() * 100, 0) + '%'}", aria-valuemin='0')
                        if(locals.os !== "android")
                            .row
                                .col-md-12
                                    table.table.table-responsive.table-condensed
                                        tbody
                                            tr
                                                th Treffer erhalten
                                                td
                                                    input.text-right(type = "number", data-bind = "value: hitsTaken, valueUpdate: 'input'")
                                            tr
                                                th Treffer pro Runde
                                                td
                                                    input.text-right(type = "number", data-bind = "value: hitsPerRound, valueUpdate: 'input'")
                                            tr
                                                th Benommenheit
                                                td
                                                    input.text-right(type = "number", data-bind = "value: stunned, valueUpdate: 'input'")
                                            tr
                                                th Runden bis zum Tod
                                                td
                                                    input.text-right(type = "number", data-bind = "value: roundsTillDeath, valueUpdate: 'input'")
                                            tr
                                                th Aktivität Malus
                                                td
                                                    input.text-right(type = "number", data-bind = "value: bonus, valueUpdate: 'input'")
                                            tr
                                                td
                                                    .checkbox-inline
                                                        label
                                                            input(type='checkbox', data-bind = "checked: knockedOut")
                                                            | Kampfunfähig
                        else
                            .row
                                .col-md-12
                                    table.table.table-responsive.table-condensed
                                        tbody
                                            tr
                                                th Treffer erhalten
                                                th Treffer pro Runde
                                                th Benommenheit
                                                th Runden bis zum Tod
                                                th Aktivität Malus
                                            tr
                                                td
                                                    .input-group.input-group-sm
                                                        input.form-control.input-sm(style = "width: 75px", type = "number", data-bind = "value: hitsTaken, valueUpdate: 'input'")
                                                        span.input-group-btn.merpg-tableInputFill
                                                            a.btn.btn-warning(data-bind = "click: $parent.resetValue.bind($data, 'hitsTaken')")
                                                                span.glyphicon.glyphicon-repeat
                                                            a.btn.btn-danger(data-bind = "attr: {disabled: hitsTaken() <= 0}, click: $parent.subtractValue.bind($data, 'hitsTaken')")
                                                                span.glyphicon.glyphicon-minus
                                                            a.btn.btn-success(data-bind = "click: $parent.addValue.bind($data, 'hitsTaken')")
                                                                span.glyphicon.glyphicon-plus
                                                td
                                                    .input-group.input-group-sm
                                                        input.form-control.input-sm(style = "width: 75px", type = "number", data-bind = "value: hitsPerRound, valueUpdate: 'input'")
                                                        span.input-group-btn.merpg-tableInputFill
                                                            a.btn.btn-warning(data-bind = "click: $parent.resetValue.bind($data, 'hitsPerRound')")
                                                                span.glyphicon.glyphicon-repeat
                                                            a.btn.btn-danger(data-bind = "attr: {disabled: hitsPerRound() <= 0}, click: $parent.subtractValue.bind($data, 'hitsPerRound')")
                                                                span.glyphicon.glyphicon-minus
                                                            a.btn.btn-success(data-bind = "click: $parent.addValue.bind($data, 'hitsPerRound')")
                                                                span.glyphicon.glyphicon-plus
                                                td
                                                    .input-group.input-group-sm
                                                        input.form-control.input-sm(style = "width: 75px", type = "number", data-bind = "value: stunned, valueUpdate: 'input'")
                                                        span.input-group-btn.merpg-tableInputFill
                                                            a.btn.btn-warning(data-bind = "click: $parent.resetValue.bind($data, 'stunned')")
                                                                span.glyphicon.glyphicon-repeat
                                                            a.btn.btn-danger(data-bind = "attr: {disabled: stunned() <= 0}, click: $parent.subtractValue.bind($data, 'stunned')")
                                                                span.glyphicon.glyphicon-minus
                                                            a.btn.btn-success(data-bind = "click: $parent.addValue.bind($data, 'stunned')")
                                                                span.glyphicon.glyphicon-plus
                                                td
                                                    .input-group.input-group-sm
                                                        input.form-control.input-sm(style = "width: 75px", type = "number", data-bind = "value: roundsTillDeath, valueUpdate: 'input'")
                                                        span.input-group-btn.merpg-tableInputFill
                                                            a.btn.btn-warning(data-bind = "click: $parent.resetValue.bind($data, 'roundsTillDeath')")
                                                                span.glyphicon.glyphicon-repeat
                                                            a.btn.btn-danger(data-bind = "attr: {disabled: roundsTillDeath() == undefined}, click: $parent.subtractValue.bind($data, 'roundsTillDeath')")
                                                                span.glyphicon.glyphicon-minus
                                                            a.btn.btn-success(data-bind = "click: $parent.addValue.bind($data, 'roundsTillDeath')")
                                                                span.glyphicon.glyphicon-plus
                                                td
                                                    .input-group.input-group-sm
                                                        input.form-control.input-sm(style = "width: 75px", type = "number", data-bind = "value: bonus, valueUpdate: 'input'")
                                                        span.input-group-btn.merpg-tableInputFill
                                                            a.btn.btn-warning(data-bind = "click: $parent.resetValue.bind($data, 'bonus')")
                                                                span.glyphicon.glyphicon-repeat
                                                            a.btn.btn-danger(data-bind = "attr: {disabled: bonus() <= 5}, click: $parent.subtractValue.bind($data, 'bonus')")
                                                                span.glyphicon.glyphicon-minus
                                                            a.btn.btn-success(data-bind = "click: $parent.addValue.bind($data, 'bonus')")
                                                                span.glyphicon.glyphicon-plus